<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <dl>
                <dt v-for="todo in todos">
                {{ todo.title }}
                </dt>
                <dd v-for="todo in todos">
                {{ todo.text }}
                </dd>
            </dl>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>